
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background-image: url('/img/japan-2014618_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  section 1   */
.dizeres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dizeres h3{
    margin: 7px;
    align-items: center;
    font-size: 25px;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: whitesmoke;
}

.dizeres p{
    margin: 11px;
    align-items: center;
    font-size: 11px;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: whitesmoke;
}

.buttons{
    height: auto;
    width: 400px;
    background-image: linear-gradient(to top left, #ff2900 15%, #ff8100 72%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 15px 15px 60px 5px rgb(7, 7, 7);
}

.buttons a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: black;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px;
} 

.buttons a:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgba(0,0,0, 0.9);
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
} 


/*  section 2   */
.container-main{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 720px;
    border-radius: 20px;
    background-color: white;
}

.info-1{
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to top left, #ff2900 15%, #ff8100 72%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.img-foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}
.img-foto img{
    width: 100%;
}
.info-2{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #c1c4c1;
    border-radius: 10px;
}

.texto-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 80%;
    box-shadow: 15px 15px 60px 5px rgb(104, 99, 97);
    border-radius: 15px;
    padding: 53px;

}
.texto-perfil h3{
    font-family: "Dosis", sans-serif;
    font-size: 22px;
}
.texto-perfil p{
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.informacoesPessoais{
    font-family: "Dosis", sans-serif;
    color: whitesmoke;
    background-color: black;
    padding: 2px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    font-weight: 500;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.info-2 .voltar{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    margin-left: 70%;
    margin-top: 10px;
    margin-bottom: 15px;

}

.info-2 .voltar:hover{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    background-color: rgba(0,0,0, 0.9);
    transition: 0.7s;
    padding: 9px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;   
}
/*  Perfil */
.nome{
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
}

/*  INFO - CONTATOS */ 
.ContatosH2{
    font-family: "Dosis", sans-serif;
    color: whitesmoke;
    background-color: black;
    padding: 2px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    font-weight: 500;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
}
.contatos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/* OBJETO TELEFONE */
.tel{
    font-family: "Dosis", sans-serif;
    color: fffaf2;
    background-color: black;
    padding: 1px;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 3px;
    margin-right: 8px;
}
.paragrafo-tel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.whatsapp{
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.whatsapp:hover{
    width: 13px;
    height: 13px;
    margin-left: 3px;
    padding: 2px;
    border: 1px solid #8c867e;
    border-radius: 5px;
}
/* ---------------------------------------- */



/* OBJETO EMAIL */
.email{
    font-family: "Dosis", sans-serif;
    color: fffaf2;
    background-color: black;
    padding: 1px;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 3px;
    margin-right: 8px;
}

.email-icon{
    width: 18px;
    height: 18px;
    margin-left: 4px;
}

.email-icon:hover{
    width: 16px;
    height: 16px;
    margin-left: 2px;
    padding: 2px;
    border: 1px solid #8c867e;
    border-radius: 5px;
}

.paragrafo-email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
/* ---------------------------------------- */


/* OBJETO LINKEDIN */
.linkedin{
    font-family: "Dosis", sans-serif;
    color: fffaf2;
    background-color: black;
    padding: 2px;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 3px;
}
.linkedin-Link{
    font-family: "Dosis", sans-serif;
    color: black;
    padding: 4px;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    border-radius: 3px;
}
.linkedin-Link:hover{
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    color: black;
    border: 1px solid #8c867e;
    padding: 2px;
    margin: 2px;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    border-radius: 3px;
}

/* ---------------------------------------- */

/* OBJETO GITHUB    */
.github{
    font-family: "Dosis", sans-serif;
    color: fffaf2;
    background-color: black;
    padding: 2px;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 3px;
}
.github-link{
    font-family: "Dosis", sans-serif;
    color: black;
    padding: 4px;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    border-radius: 3px;
}
.github-link:hover{
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    color: black;
    border: 1px solid #8c867e;
    padding: 2px;
    margin: 2px;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    border-radius: 3px;
}

/*  PÁGINA DE PROJETOS  #############################  */
/*  CONTAINER INFO 1  */
.container-info1{
        width: 200px;
        height: 200px;
        border-radius: 10px;
}
.container-info1 h3{
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    box-shadow: -52px -37px 28px rgba(173, 56, 10, 0.7);
    padding: 6px;
}
.ProjetoEquilibrio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: auto;
    padding: 22px;
    border-radius: 10px;
    margin-bottom: 65px;
    box-shadow: 3px 1px 29px 15px rgb(223, 69, 9);
}
.ProjetoEquilibrio h4{
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    box-shadow: -8px -8px 15px rgba(83, 65, 58, 0.6);
}
.ProjetoEquilibrio .descricao{
    font-family: "Dosis", sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 11px; 
    font-weight: 600;
}
.separador{
    background-color: black;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 2px

}
.linkgit{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 11px; 
    font-weight: 700;
}
.linkgit:hover{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    color: whitesmoke;
    background-color: rgba(0,0,0, 0.9);
    padding: 4px;
    text-transform: uppercase;
    font-size: 11px; 
    font-weight: 700;
    transition: 0.8s;
}



/*  CONTAINER INFO 2  projetos*/
.info-2-projeto .voltar{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    margin-left: 70%;
    margin-top: 10px;

}

.info-2-projeto .voltar:hover{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    background-color: whitesmoke;
    transition: 0.7s;
    padding: 9px;
    color: black;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;   
}
.info-2-projeto{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}
.texto-perfil-projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 80%;
    border-radius: 15px;
    padding: 53px;
    border: 2px solid rgb(223, 204, 204);
}
.projetovolit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 65px;
}
.projetovolit h4{
    font-family: "Dosis", sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
}
.projetovolit .descricao{
    font-family: "Dosis", sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 11px; 
    font-weight: 600;
}
.projetovolit .separador{
    background-image: linear-gradient(to top left, #ff2900 15%, #ff8100 72%);
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 3px

}
.projetovolit .linkgit{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    color: darkgray;
    text-transform: uppercase;
    font-size: 11px; 
    font-weight: 700;
}
.projetovolit .linkgit:hover{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    color: whitesmoke;
    background-color: rgba(0,0,0, 0.9);
    padding: 4px;
    text-transform: uppercase;
    font-size: 11px; 
    font-weight: 700;
    transition: 0.8s;
}

/* ######   PÁGINA DE QUALIFICAÇÕES     ######### */
.info-1-qualificacoes{
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to top left, #ff2900 15%, #ff8100 62%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.info-1-qualificacoes .item-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 30%;
    margin-top: 90px;
}
.info-1-qualificacoes .item-2{
    width: 85%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.info-1-qualificacoes .item-3{
    width: 85%;
    height: 30%;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
}







.info-1-qualificacoes .qualificacao-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.info-1-qualificacoes .h2-formacao{
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    box-shadow: -8px -8px 15px rgba(83, 65, 58, 0.6);
}


.info-1-qualificacoes p{
    font-family: "Dosis", sans-serif;
    color: black;
    background-image: linear-gradient(to top left, #ff8100 35%, #ff2900 18%, #ff8100 20%);
    padding: 19px;
    border: 2px solid black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(201, 58, 2, 0.767);
}








.info-1-qualificacoes .qualificacao-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.item-2 .qualificacao-2 h2{
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    box-shadow: -8px -8px 15px rgba(83, 65, 58, 0.6);
}

.item-2 .qualificacao-2 p{
    font-family: "Dosis", sans-serif;
    color: black;
    background-image: linear-gradient(to top left, #ff2900 2%, #ff8100 0%);
    padding: 19px;
    border: 2px solid black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(201, 58, 2, 0.767);
}






.info-1-qualificacoes .qualificacao-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.item-2 .qualificacao-3 h2{
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    box-shadow: -8px -8px 15px rgba(83, 65, 58, 0.6);
}

.item-3 .qualificacao-3 p{
    font-family: "Dosis", sans-serif;
    color: black;
    background-image: linear-gradient(to top left, #ff2900 2%, #ff8100 2%);
    padding: 19px;
    border: 2px solid black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(201, 58, 2, 0.767);
}

/*      INFO-2 FORMACAO ACADEMICA       */
.formacao-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 80%;
    height: 80%;
}
.formacao-2 .voltar{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    color: rgb(87, 87, 87);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    margin-left: 70%;
    margin-top: 10px;
}
.formacao-2 .voltar:hover{
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    background-color: black;
    transition: 0.7s;
    padding: 9px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;   
}
.formacao-2 h3{
    font-family: "Dosis", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    box-shadow: -8px -8px 15px rgb(104, 99, 97);
}
.formacao-2 .front-end p{
    font-family: "Dosis", sans-serif;
    color: black;
    background-image: linear-gradient(to top left, #d6cbc9 2%, #ece0d5 2%);
    padding: 19px;
    border: 2px solid whitesmoke;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(104, 99, 97);
}

.formacao-2 .back-end p{
    font-family: "Dosis", sans-serif;
    color: black;
    background-image: linear-gradient(to top left, #d6cbc9 2%, #ece0d5 2%);
    padding: 19px;
    border: 2px solid whitesmoke;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(104, 99, 97);
}

.formacao-2 .idiomas p{
    font-family: "Dosis", sans-serif;
    color: black;
    background-image: linear-gradient(to top left, #d6cbc9 2%, #ece0d5 2%);
    padding: 19px;
    border: 2px solid whitesmoke;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(104, 99, 97);
}
.info-2-qualificacoes{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top left,#ece0d5 20%, #686565 98%);
    border-radius: 10px;
}